:root {
    --hovercolor: #e0385a;
    --navbarcolor: #121114;
    --maincolor: #201d29;
    overflow: hidden;
}

body {
    font-family: Oswald, sans-serif;
    margin: 0;
    background-color: var(--maincolor);
}

#navbar {
    width: 100vw;
    background-color: var(--navbarcolor);

    font-size: 24px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 3em;
}

/*
#navbar li a::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--hovercolor);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}

#navbar li a:hover::after {
    width:max-content;
}
*/

#navbar li a::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background: rgb(10, 152, 235);
    transition: width .3s;
}

#navbar li a:hover::after {
    width: 25%;
    transition: width .3s;
}


#navbar li a:hover {
    color: var(--hovercolor);
    transition: all ease-in-out 100ms;
}



#navbar li:nth-child(1) {
    margin-right: auto;
    margin-left: 3em;
}

#navbar li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
}





main {
    position: relative;
    
    /*
    min-height: 100vh;

    width: 90vw;
    */

    margin: 0 auto;
    padding: 30px 20px;
}

article h1 {
    margin: 10px 0 25px 0;
    color: white;
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(+250%);

    text-shadow: 2px 3px 5px #def, 0 0 0 #000, 1px 2px 4px #def;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 2.5rem;
    height: 2.5rem;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-bottom {
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}